<a class="page-link" href="#top">
  <span class="nav-text">Top</span>
  <span class="nav-icon">{% include svg/nav-home.svg %}</span>
</a>
<a class="page-link" href="#news">
  <span class="nav-text">News</span>
  <span class="nav-icon">{% include svg/nav-news.svg %}</span>
</a>
<a class="page-link" href="#publications">
  <span class="nav-text">Publications</span>
  <span class="nav-icon">{% include svg/nav-book.svg %}</span>
</a>
<a class="page-link" href="#projects">
  <span class="nav-text">Projects</span>
  <span class="nav-icon">{% include svg/nav-code.svg %}</span>
</a>
<a class="page-link" href="#experience">
  <span class="nav-text">Research Experience</span>
  <span class="nav-icon">{% include svg/nav-flask.svg %}</span>
</a>
<a class="page-link" href="#awards">
  <span class="nav-text">Awards &amp; Honors</span>
  <span class="nav-icon">{% include svg/nav-trophy.svg %}</span>
</a>
<a class="page-link" href="#services">
  <span class="nav-text">Services</span>
  <span class="nav-icon">{% include svg/nav-grid.svg %}</span>
</a>
